html, body {
  height:100%;
  padding: 0;
  margin: 0;
}

html {
  background-color: #fff;
}

body {
  font-family: "Open Sans";
}

h1, h2, h3, h4, h5 {
  font-family: "Orbitron", sans-serif;
  color: #00a5ec;
}

h2 {
  font-size: 2em;
}

p {
  font-family: 'VT323', sans-serif;
  font-size: 16px;
  color: #00a5ec;
}

header h1 {
  margin: 0;
  font-size: 5em;
  font-family: 'Audiowide', sans-serif;
  color: #00a5ec;
}

header p {
  margin: 0;
  font-size: 2em;
  letter-spacing: 4px;
  color: #00a5ec;
  font-family: 'Orbitron', sans-serif;
}


a {
  text-decoration: none;
  color: #fff;
}

a:hover, tech-stack i:hover {
  color: #2980b9;
}

nav {
  position: fixed;
  top: 0;
  padding: 25px 0px;
  width: 100%;
  z-index:2;
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
}

nav a {
  font-size: 15px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  padding: 0px 25px;
  color: #00b0f1;
}



i.social {
  padding: 25px;
  font-size: 2em;
}

.center {
  text-align: center;
  margin: auto;
}

.container {
  text-align: center;
}

.spacy {
	padding: 50px 0px;
}

.spacy-bottom {
  padding: 50px 0px 0px 0px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: 2px solid;
  border-radius: 125px;
  margin-top: 50px;
}

.banner {
  margin-top: 50px;
  background-color: #fff;
}

.about {
  background-color: #fff;
}

.projects {
  background-color: #fff;
}

.projects h4 {
  color: #00a5ec;
}

.contact {
  background-color: #fff;
}

.contact h2 {
  color: #00a5ec;
}

.contact i {
  color: #00a5ec;
}

.project-container, .tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  padding: 25px;
  width: 200px;
  height: 200px;
  margin: 50px;
  flex: none;
  border: 1px solid #fff;
  z-index: 1;
  font-size: 16px;
  border-radius: 50px;
}

.project i {
  font-size: 2em;
  color: #00a5ec;
}

.project:hover {
  background-color: #00a5ec;
}

.project:hover p {
  color: #fff;
}
.project:hover h4 {
  color: #fff;
}
.project:hover i {
  color: #fff;
}

.tech-stack i {
  width: 125px;
  height: 125px;
  font-size: 4em;
  margin: 0 25px;
  color: #00a5ec;
}

.hvr-grow {
  transform: scale(1.1);
}
